const scroll = new LocomotiveScroll({
    el: document.querySelector('.main'),
    smooth: true
});
// function init(){
//     gsap.registerPlugin(ScrollTrigger);

// const locoScroll = new LocomotiveScroll({
//   el: document.querySelector(".main"),
//   smooth: true
// });

// locoScroll.on("scroll", ScrollTrigger.update);

// ScrollTrigger.scrollerProxy(".main", {
//   scrollTop(value) {
//     return arguments.length ? locoScroll.scrollTo(value, 0, 0) : locoScroll.scroll.instance.scroll.y;
//   }, 
//   getBoundingClientRect() {
//     return {top: 0, left: 0, width: window.innerWidth, height: window.innerHeight};
//   },
 
//   pinType: document.querySelector(".main").style.transform ? "transform" : "fixed"
// });

// ScrollTrigger.addEventListener("refresh", () => locoScroll.update());

// ScrollTrigger.refresh();
// }
// init()

var crsr = document.querySelector(".cursor")
var main =document.querySelector(".main")
main.addEventListener("mousemove",function(dets){
  crsr.style.left=dets.x+"px"
  crsr.style.top=dets.y+"px"
})

var tl=gsap.timeline({
  ScrollTrigger:{
    trigger:".page1 h1",
    scroller:".main",
    markers:true,
    start:"top 30%",
    end:"top 0%",
    scrub:3
    }
})
tl.to(".page1 h1",{
  x:-90,
})
tl.to(".page1 h2",{
  x:60,
})
// tl.to(".page1 video",{
//   width:"90%"
// })
.to(".main",{
  backgroundcolor:"#fff"
})
gsap.to(".page1 video",{
  width:"90%",
  ScrollTrigger:{
    trigger:".page1 h1",
    scroller:".main",
    markers:true,
    start:"top 27%",
    end:"top 0%",
    scrub:3
    }
})
                                            // page 2
 var tl2=gsap.timeline( {
  ScrollTrigger:{
    trigger:".page1 h1",
    scroller:".main",
    markers:true,
    start:"top -110%",
    end:"top -130%",
    scrub:3
    }
})
var tl3=gsap.timeline( {
  ScrollTrigger:{
    trigger:".page1 h1",
    scroller:".main",
    // markers:true,
    start:"top -280%",
    end:"top -300%",
    scrub:3
    }
})
tl3.yo(".main",{
  backgroundcolor:"#0F0D0D"
})






var boxes= document.querySelectorAll(".box")
boxes.forEach(function(elem){
    elem.addEventListener("mouseenter",function(){
      var att=elem.getAttribute("data-image")
         crsr.style.width="300px" 
         crsr.style.height="250px"
         crsr.style.borderRadius="0"
         crsr.style.backgroundcolor='url(${att})'
    })
    elem.addEventListener("mouseleave",function(){
      elem.style.backgroundcolor="tarn"
    })
})